body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    background-image: url('/static/images/bg_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
}

/*li {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}*/

li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}


li:hover {
    background-color: #a7dcff; 
}

